<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=0,maximum-scale=0,user-scalable=yes,shrink-to-fit=no">
    <title>form generator</title>
    <link href="./style.css" rel="stylesheet" type="text/css" />
    <style>
        html,
        body {
            height: 100%;
            overflow: hidden;
            padding: 0;
            margin: 0;
        }
        #frame {
            display: none;
        }
    </style>
</head>

<body>
    <div class="pre-loader" id="pre-loader">
        <div class="inner one"></div>
        <div class="inner two"></div>
        <div class="inner three"></div>
    </div>
    <iframe id="frame" width="100%" height="100%" frameborder="0"></iframe>
    <script>
        window.onload = function () {
            const vscode = acquireVsCodeApi()
            window.addEventListener('message', event => {
                const message = event.data
                if (message && message.cmd) cmds[message.cmd](message)
            })
            const cmds = {
                test: function (message) {
                    vscode.postMessage(message)
                },
                setSrc: function (message) {
                    let frame = document.getElementById('frame')
                    frame.src = message.data.src
                    frame.onload = function () {
                        document.getElementById('pre-loader').style.display = "none"
                        frame.style.display = "block"
                        // frame.contentWindow.postMessage({
                        //     cmd: 'mountApp',
                        //     data: message.data.db, // 发送db.json中的内容
                        //     dirPath: message.data.dirPath
                        // }, '*')
                    }
                    
                },
                writeFile: function (message) {
                    vscode.postMessage(message)
                },
                openUrl: function (message) {
                    vscode.postMessage(message)
                },
                setStorageItem: function (message) {
                    vscode.postMessage(message)
                },
                createFile: function (message) {
                    vscode.postMessage(message)
                },
            }
        }
    </script>
</body>

</html>